#topnav{
	width:100%;
	background-color:white;
	text-align: center;
	position: fixed;
	top: 0;
	box-shadow: 0em 0em 0.5em #ccc;
}

#topnav div {
	display: inline-block;
	margin: 0% 5%;
	padding: 0% 5%;
	transition: 0.5s all ease-in-out;
}

#topnav h1 {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1cm;
	font-size: 1em;
	padding: 10%;
	width: 100%;
	border-radius: 0.5em;
	cursor: pointer;
	transition: 0.5s all ease-in-out;
}

#topnav h1:hover {
	background-color: #f2f2f2;
	font-weight: 400;
}

.aligner {
	width: 80%;
}
html body{
	margin: 0;
	top:0;
	left: 0;
	font-family: 'courier prime', monospace;
}